@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
    }
  }

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}